.why-us {z-index: 3;margin:-40px 0 0px;}
.why-us .content-holder{padding:30px 56px 50px;background:#fff;border-radius:10px;box-shadow: 0px 3px 16px #00000014;}
.why-us .text-block{font-size:24px;line-height: 36px;color:#11171F;}
.why-us h2{font-size:64px;line-height: 63px;margin:0 0 5px;font-weight: 100;}
.why-us h2 span {font-weight: bold;}
.why-us .text-block p {margin: 0 0 25px;}
.why-us .our-skills-partner{position:relative;margin: 0;padding-left: 40px;}
.why-us .our-skills-partner:after{content:"";width:1px;position:absolute;left:0;top:-10px;bottom:-10px;background:#D5D5D5;}
.why-us .our-skills-partner li{width:33.333%;padding:32px 20px;}
.why-us .our-skills-partner .head {display: flex;margin: 0 0 10px;align-items: center;}
.why-us .our-skills-partner .head .head-img {width: 65px;height: 65px;margin-right: 12px;}
.why-us .our-skills-partner .head .head-title {width: calc(100% - 77px);}
.why-us .our-skills-partner .head .head-title h2 {font-size: 24px;line-height: 27px;font-weight: 600;margin: 0;}
.why-us .our-skills-partner .body p {font-size: 20px;line-height: 27px;font-weight: 300;margin: 0;}
/* responsive */
@media only screen and (max-width:1799px){
    .why-us h2 {font-size: 55px;line-height: 65px;}
    .why-us .text-block {font-size: 20px;line-height: 27px;}
    .why-us .our-skills-partner {padding-left: 25px;}
    .why-us .our-skills-partner li {padding: 32px 12px;}
}
@media only screen and (max-width:1399px){
    .why-us h2 {font-size: 45px;line-height: 50px;}
    .why-us .our-skills-partner li {width: 48%;}
    .why-us .our-skills-partner .body p {font-size: 16px;line-height: 24px;}
    .why-us .our-skills-partner .head .head-title h2 {font-size: 23px;line-height: 26px;}
}
@media only screen and (max-width:1199px){
    .why-us .our-skills-partner:after {top: 0px;bottom: 0px;}
    .why-us .text-block {margin: 0 0 20px;}
    .why-us h2 {font-size: 34px;line-height: 40px;}
    .why-us h2 span {display: inline-block !important;}
    .why-us .text-block {font-size: 16px;line-height: 22px;}
}
@media only screen and (max-width:991px){
    .why-us .our-skills-partner li{width:98%}
}
@media only screen and (max-width:767px){
    .why-us .content-holder {padding: 30px 12px 30px;}
    .why-us .our-skills-partner li {width: 50%;}
    .why-us .our-skills-partner {padding-left: 0px;}
    .why-us .our-skills-partner .head .head-img {width: 50px;height: 50px;margin-right: 12px;}
    .why-us .our-skills-partner .head .head-title {width: calc(100% - 62px);}
    .why-us .our-skills-partner .head .head-title h2 {font-size: 18px;line-height: 22px;}
    .why-us h2 {font-size: 25px;line-height: 32px;}
}
@media only screen and (max-width:479px){
    .why-us .text-block {font-size: 14px;line-height: 20px;}
    .why-us .our-skills-partner li {width: 100%;padding: 12px 12px;}
    .why-us .our-skills-partner .body p {font-size: 12px;line-height: 24px;}
    .why-us h2 {font-size: 22px;line-height: 26px;}
}
@media only screen and (max-width:319px){
    .why-us .our-skills-partner .head .head-title h2 {font-size: 16px;line-height: 20px;}
}