.salesforce-roadmap {background: #F0F4F5 0% 0% no-repeat padding-box;padding: 80px 0px 0px;overflow: hidden;}
.salesforce-roadmap .section-heading p {max-width: 100%;}
.salesforce-roadmap .salesforce-roadmap-content {background: #FAFAFA 0% 0% no-repeat padding-box;padding: 93px 0px 113px 86px;display: grid;grid-template-columns: repeat(3, 1fr);column-gap: 49px;row-gap: 30px;}
.salesforce-roadmap .salesforce-roadmap-content::after {content:"";position: absolute;top: 0;left: 100%;width: 500px;height: 100%;background: #FAFAFA 0% 0% no-repeat padding-box;}
.salesforce-roadmap .salesforce-roadmap-content .head {margin-bottom: 52px;display: flex;align-items: center;}
.salesforce-roadmap .salesforce-roadmap-content .head span {font-size: 32px;line-height: 36px;font-weight: 500;position: relative;}
.salesforce-roadmap .salesforce-roadmap-content .head span:after {content:"";width: 16px;height: 16px;border-radius: 50%;position: absolute;left: 3px;top: calc(100% + 17px);z-index: 3;}
.salesforce-roadmap .salesforce-roadmap-content .head span:before {content:"";width: 22px;height: 22px;border-radius: 50%;position: absolute;left: 0;top: calc(100% + 14px);z-index: 3;}
.salesforce-roadmap .salesforce-roadmap-content .head h3 {font-weight: 500;margin-bottom: 0;margin-left: 5px;}
.salesforce-roadmap .salesforce-roadmap-content .detail p {font-size: 20px;line-height: 26px;font-weight: 300;height: 130px;margin: 0;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(01) .head span{color: #091A4A;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(02) .head span{color: #26297E;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(03) .head span{color: #4338B2;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(04) .head span{color: #6549ED;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(05) .head span{color: #8540E7;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(06) .head span{color: #A536E3;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(07) .head span{color: #7E0E8D;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(01) .head span:after {background-color: #091A4A;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(01) .head span:before {border: 1px solid #091A4A;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(02) .head span:after {background-color: #26297E;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(02) .head span:before {border: 1px solid #26297E;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(03) .head span:after {background-color: #4338B2;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(03) .head span:before {border: 1px solid #4338B2;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(04) .head span:after {background-color: #6549ED;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(04) .head span:before {border: 1px solid #6549ED;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(05) .head span:after {background-color: #8540E7;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(05) .head span:before {border: 1px solid #8540E7;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(06) .head span:after {background-color: #A536E3;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(06) .head span:before {border: 1px solid #A536E3;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(07) .head span:after {background-color: #7E0E8D;}
.salesforce-roadmap .salesforce-roadmap-box:nth-child(07) .head span:before {border: 1px solid #7E0E8D;}
.salesforce-roadmap .line-one {background: transparent linear-gradient(90deg, #091A4A 0%, #6449ED 100%) 0% 0% no-repeat padding-box;position: absolute;left: 92px;width: calc(100% + 500px);height: 3px;top: 153px;z-index: 2;}
.salesforce-roadmap .line-two {background: transparent linear-gradient(90deg, #6449ED 0%, #C92CDD 100%) 0% 0% no-repeat padding-box;position: absolute;left: 0;width: calc(100% + 500px);height: 3px;top: 400px;z-index: 2;}
.salesforce-roadmap .line-three {border: 2px dashed #7E0E8D;position: absolute;left: 92px;width: calc(100% + 500px);bottom: 267px;z-index: 2;}
.salesforce-roadmap .line-four {border: 2px dashed #7E0E8D;position: absolute;left: 0;width: 100px;top: 152px;z-index: 1;}
.salesforce-roadmap .line-five {background: transparent linear-gradient(90deg, #7E0E8D 0%, #C92CDD 100%) 0% 0% no-repeat padding-box;position: absolute;left: 0;height: 3px;width: 100px;bottom: 268px;z-index: 1;}
.salesforce-roadmap .line-six {background: transparent linear-gradient(90deg, #6449ED 0%, #C92CDD 100%) 0% 0% no-repeat padding-box;position: absolute;left: 0;width: calc(100% + 500px);height: 3px;top: 400px;z-index: 2;display: none;}
/* responsive */
@media only screen and (max-width:1699px){
    .salesforce-roadmap .salesforce-roadmap-content .detail p {font-size: 17px;line-height: 23px;}
    .salesforce-roadmap .salesforce-roadmap-content .head span {font-size: 28px;line-height: 32px;}
    .salesforce-roadmap .line-one{top:149px;}
    .salesforce-roadmap .line-two{top:393px;}
    .salesforce-roadmap .line-four{top:149px;}
}
@media only screen and (max-width:1399px){
    .salesforce-roadmap .salesforce-roadmap-content .head span {font-size: 22px;line-height: 26px;}
    .salesforce-roadmap {padding: 70px 0px 0px;}
    .salesforce-roadmap .line-one{top:143px;}
    .salesforce-roadmap .line-two{top:382px;}
    .salesforce-roadmap .line-four{top:143px;}
}
@media only screen and (max-width:1199px){
    .salesforce-roadmap .salesforce-roadmap-content {padding: 55px 0px 60px 50px;}
    .salesforce-roadmap .salesforce-roadmap-content {column-gap: 20px;}
    .salesforce-roadmap .salesforce-roadmap-content .head span {font-size: 20px;line-height: 24px;}
    .salesforce-roadmap .line-one {left: 66px;top: 102px;}
    .salesforce-roadmap .line-four {width: 67px;top: 102px;}
    .salesforce-roadmap .line-two {top: 339px;}
    .salesforce-roadmap .line-three {left: 65px;bottom: 215px;}
    .salesforce-roadmap .line-five {width: 57px;bottom: 216px;}
    .salesforce-roadmap {padding: 50px 0px 0px;}
}
@media only screen and (max-width:991px){
    .salesforce-roadmap .salesforce-roadmap-content {grid-template-columns: repeat(2, 1fr);}
    .salesforce-roadmap .line-six {top: 575px;display: block;}
    .salesforce-roadmap {padding: 30px 0px 0px;}
}
@media only screen and (max-width:767px){
    .salesforce-roadmap .salesforce-roadmap-content .detail p {font-size: 15px;line-height: 20px;}
    .salesforce-roadmap .salesforce-roadmap-content {padding: 55px 0px 60px 30px;}
    .salesforce-roadmap .line-one {left: 50px;}
    .salesforce-roadmap .line-four {width: 47px;}
    .salesforce-roadmap .line-five {width: 47px;}
    .salesforce-roadmap .line-three {left: 50px;}
    .salesforce-roadmap {padding: 20px 0px 0px;}
}
@media only screen and (max-width:575px){
    .salesforce-roadmap .salesforce-roadmap-content .detail p {font-size: 14px;line-height: 19px;}
}
@media only screen and (max-width:479px){
    .salesforce-roadmap .salesforce-roadmap-content {grid-template-columns: repeat(1, 1fr);padding: 25px 12px 25px 12px;}
    .salesforce-roadmap .line-one,
    .salesforce-roadmap .line-two,
    .salesforce-roadmap .line-three,
    .salesforce-roadmap .line-four,
    .salesforce-roadmap .line-five,
    .salesforce-roadmap .line-six,
    .salesforce-roadmap .salesforce-roadmap-content .head span:before,
    .salesforce-roadmap .salesforce-roadmap-content .head span:after,
    .salesforce-roadmap .salesforce-roadmap-content::after{display: none;}
    .salesforce-roadmap .salesforce-roadmap-content .head {margin-bottom: 12px;}
    .salesforce-roadmap .salesforce-roadmap-content .detail p {height: auto;}
    .salesforce-roadmap .salesforce-roadmap-content {column-gap: 0px;row-gap: 15px;}
}