.our-skillset{box-shadow:0 16px 36px rgba(0,0,0,0.1);z-index:1;overflow:hidden;}
.our-skillset .navblock-left-col{padding:80px 0 0;}
.our-skillset .nav{max-width:484px;padding:0 30px 130px 0;background-position: 100% 0;height: 100%;background-repeat: no-repeat;;}
.our-skillset .navblock-left-col:after{content:"";width:9999px;position:absolute;top:0;right:0;bottom:0;background:#091A4A;z-index:-1}
.our-skillset .navblock-left-col:before{content: "";width: 99999px;height: 100%;position: absolute;right: 0;top: 0;background: url(https://d2g5gf76vk4es3.cloudfront.net/images/bg-our-skillset.webp);background-size: 538px auto;background-position: top right;background-repeat: no-repeat;}
.data-modernization .our-skillset .nav:before,
.team-augmentation .our-skillset .nav:before{display: none;}
.our-skillset .nav-heading-block h2{font-size:100px;line-height: 100px;font-weight:bold;margin:0 0 30px;}
.our-skillset .nav-heading-block h2 span{font-weight: 100;}
.our-skillset .text-block.nav-heading-block{font-size:20px;line-height:34px;font-weight: 300;margin:0 0 15px;overflow: hidden;}
.our-skillset .nav .nav-item{font-size:24px;line-height:24px;font-weight:500;}
.our-skillset .nav .nav-link{font-size:24px;line-height:24px;font-weight:500;color:#ffff;background:none;border-radius:35px;border:2px solid rgba(255,225,255,0.27);padding:7px 8px;margin:0 0 30px;}
.our-skillset .nav .nav-link > div{position: relative;z-index: 2;}
.our-skillset .nav .nav-link:hover,.our-skillset .nav .nav-link.active{background:#fff;color:#F07700;}
.our-skillset .nav .nav-link:after{content: "";width:54px;height:54px;position:absolute;left: 8px;top:7px;z-index:1;border-radius:35px;transition: all ease-in-out 0.3s;background:#F9FAFC;border:3px solid #fff;-o-transform: scale(0);-ms-transform: scale(0);-moz-transform: scale(0);-webkit-transform: scale(0);transform: scale(0);box-shadow: 0px 13px 26px #0000000F;}
.our-skillset .nav .nav-link:hover:after,.our-skillset .nav .nav-link.active:after{width:calc(100% + 80px);height:72px;left:0;top:-2px;-o-transform: scale(1);-ms-transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}
.our-skillset .nav .nav-item .icon-default{display: block;}
.our-skillset .nav .icon-hover,
.our-skillset .nav .nav-item .nav-link:hover .icon-default{display: none;}
.our-skillset .nav .nav-item .nav-link:hover .icon-hover{display: block;}
.our-skillset .nav .nav-item .nav-link:hover .nav-link .icon-default{display: block;}
.our-skillset .nav .nav-item .nav-link.active .icon-default{display: none;}
.our-skillset .nav .nav-item .nav-link .icon-hover{display: none;}
.our-skillset .nav .nav-item .nav-link.active .icon-hover{display: block;}
.our-skillset .icon-holder{width:54px;height:54px;margin:0 30px 0 0;}
.our-skillset .icon-holder img{-o-transform: translate(-24px,-21px);-ms-transform: translate(-24px,-21px);-moz-transform: translate(-24px,-21px);-webkit-transform: translate(-24px,-21px);transform: translate(-24px,-21px);}
.our-skillset .icon-holder .hover-circle{content:"";width:54px;height:54px;border:1px solid transparent;border-radius: 50%;position: absolute;top:0;left:0;}
.our-skillset .icon-holder .hover-circle:after{content:"";width:8px;height:8px;position: absolute;left:calc(50% - 4px);top:-4px;background:#F07700;border-radius:50%;-o-transform: scale(0);-ms-transform: scale(0);-moz-transform: scale(0);-webkit-transform: scale(0);transform: scale(0);}
.our-skillset .nav-link:hover .hover-circle,.our-skillset .nav-link.active .hover-circle{-o-transform:rotate(40deg);-ms-transform:rotate(40deg);-moz-transform:rotate(40deg);-webkit-transform:rotate(40deg);transform:rotate(40deg);}
.our-skillset .nav-link:hover .hover-circle:after,.our-skillset .nav-link.active .hover-circle:after{-o-transform: scale(1);-ms-transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);transform: scale(1);}
.our-skillset .tab-content{padding: 70px 0 70px 40px}
.our-skillset .tab-content .btn-solid{min-width: 190px;}
.our-skillset .tab-content .image-holder{width:360px;margin:0 65px 0 0;}
.our-skillset .tab-content .image-block{border-radius:10px;overflow: hidden;margin:0 0 40px}
.our-skillset .tab-content .image-block img{width:100%;height:auto;}
.our-skillset .tab-content .content-holder{width:calc(100% - 425px);font-size:20px;line-height:27px;color:#0F0E31;font-weight:300;}
.our-skillset .tab-content .content-holder p{margin:0 0 30px;}
.our-skillset .tab-content h2{font-size:64px;line-height:71px;color:#11171F;font-weight: bold;margin:0 0 30px;max-width: 600px;}
.our-skillset .tab-content h2 span{font-weight: 100;}
.our-skillset .tab-content .service-key-points{font-size:20px;line-height:24px;font-weight:400;color:#0F0E31;margin-bottom: 20px;}
.our-skillset .tab-content .service-key-points li{margin:0 0 15px;padding:0 0 0 20px;}
.our-skillset .tab-content .service-key-points li:before{content:"";width:8px;height:8px;position:absolute;left:0;top:calc(50% - 4px);border-radius:50%;background:#F07700;}
@media(max-width:1699px){
    .our-skillset .navblock-left-col{padding:50px 30px 0 0;}
    .our-skillset .nav .nav-link{font-size:20px;line-height:20px;}
    .our-skillset .nav-heading-block h2{font-size:70px;line-height:70px;}
    .our-skillset .nav{padding:0 0 130px 0}
    .our-skillset .tab-content {padding:50px 0 50px 20px;}
    .our-skillset .tab-content .image-block{margin:0 0 40px;}
    .our-skillset .icon-holder{margin:0 7px 0 0;}
    .our-skillset .nav .nav-item{font-size:20px;line-height:24px;}
    .our-skillset .tab-content h2 {font-size:50px;line-height:56px}
}
@media(max-width:1399px){
    .our-skillset .tab-content .image-holder{width:100%;margin:0 0 30px;order: 1;}
    .our-skillset .tab-content .content-holder{width:100%;order:0}
    .our-skillset .tab-content .image-block{max-width: 200px;margin:0;}
}
@media(max-width:1199px){
    .our-skillset .nav .nav-link{font-size:18px;line-height:18px;}
    .our-skillset .nav .nav-link:hover:after,.our-skillset .nav .nav-link.active:after{width:calc(100% + 57px);}
}
@media(max-width:991px){
    .our-skillset .nav{max-width:100%;padding:0 0 25px;}
    .our-skillset .nav .nav-link:hover:after,.our-skillset .nav .nav-link.active:after{width:100%;}
    .our-skillset .nav-heading-block h2{font-size:60px;line-height:60px;margin:0 0 20px;}
    .our-skillset .nav .nav-link{margin: 0 0 15px;}
    .our-skillset .tab-content{padding:30px 0;}
    .our-skillset .tab-content h2 {font-size:44px;line-height:50px;margin:0 0 15px;}
    .our-skillset .tab-content .content-holder,
    .our-skillset .tab-content .service-key-points{font-size:18px;line-height:26px;}
    .our-skillset .tab-content .service-key-points li{margin:0 0 10px;}
    .our-skillset .navblock-left-col:after{right:50%;-o-transform: translateX(50%);-ms-transform: translateX(50%);-moz-transform: translateX(50%);-webkit-transform: translateX(50%);transform: translateX(50%);}
}
@media(max-width:767px){
    .our-skillset .tab-content h2 {font-size:34px;line-height:40px;}
    .our-skillset .tab-content .content-holder p{margin:0 0 15px;}
    .our-skillset .tab-content .service-key-points{font-size:16px;line-height:20px;}
    .our-skillset .tab-content .image-block{max-width: 170px;margin:0;}
}
@media(max-width:575px){
    .our-skillset .row > * {padding:0 10px;}
    .our-skillset .nav-heading-block h2{font-size:55px;line-height:66px;margin:0 0 15px;}
    .our-skillset .nav .nav-link{font-size:14px;line-height:14px;}
    .our-skillset .tab-content .content-holder,
    .our-skillset .tab-content .service-key-points{font-size:14px;line-height:20px;}
    .our-skillset .tab-content .service-key-points li{margin:0 0 5px;}
    .our-skillset .tab-content{padding:30px 0 30px 0;}
    .our-skillset .tab-content .image-block{margin:0 auto;}
}