.partner-with-us{z-index: 3;margin:-40px 0 40px;}
.partner-with-us .content-holder{padding:88px 56px;background:#fff;border-radius:10px;box-shadow: 0px 3px 16px #00000014;}
.partner-with-us h2{font-size:40px;line-height: 44px;margin:0 0 10px;}
.partner-with-us .text-block{font-size:24px;line-height: 36px;color:#11171F;}
.partner-with-us .our-skills-partner{position:relative}
.partner-with-us .our-skills-partner:after{content:"";width:1px;position:absolute;left:0;top:-30px;bottom:-30px;background:#D5D5D5;}
.partner-with-us .our-skills-partner li{width:33.333%;padding:32px 45px;}
.partner-with-us .our-skills-partner .icon-holder{width:52px;margin:0 12px 0 0;}
.partner-with-us .our-skills-partner .text-holder{font-size:20px;line-height:27px;font-weight: 300;width:calc(100% - 64px);}
@media(max-width:1699px){
	.partner-with-us .content-holder{padding:60px 50px;}
	.partner-with-us h2{font-size:32px;line-height:36px;}
	.partner-with-us .our-skills-partner:after{top:-20px;bottom:-20px;}
	.partner-with-us .our-skills-partner li{padding:25px;}
}
@media(max-width:1399px){
	.partner-with-us .content-holder{padding:30px;}
	.partner-with-us h2{font-size:30px;line-height:35px;}
	.partner-with-us .text-block {font-size:20px;line-height:24px;}
	.partner-with-us .our-skills-partner:after{top:-10px;bottom:-10px;}
	.partner-with-us .our-skills-partner li{padding:15px;}
}
@media(max-width:1199px){
	.partner-with-us .our-skills-partner:after{display:none}
}
@media(max-width:991px){
	.partner-with-us .our-skills-partner li{width:50%;align-items: center;}
	.partner-with-us .our-skills-partner .icon-holder{width:40px;}
	.partner-with-us .our-skills-partner .text-holder{width:calc(100% - 52px);}
	.partner-with-us .our-skills-partner .text-holder p{margin:0;}
}
@media(max-width:767px){
	.partner-with-us h2{font-size:24px;line-height:28px;}
	.partner-with-us .text-block{font-size:16px;line-height:20px;}
	.partner-with-us .our-skills-partner li{width:100%;padding:10px 0;}
	.partner-with-us{margin:-20px 0 40px;}
	.partner-with-us .our-skills-partner .icon-holder {width:30px;}
	.partner-with-us .our-skills-partner .text-holder{font-size:16px;line-height:20px;}
}
@media(max-width:575px){
	.partner-with-us{margin-top:-20px;}
	.partner-with-us .content-holder {padding:20px 15px;}
	.partner-with-us h2{font-size:18px;line-height:22px;}
	.partner-with-us .text-block{font-size:14px;line-height:18px;}
}