.ar-vr-metaverse .services-you-get .lottie-holder{padding: 100px 70px;}
.ar-vr-metaverse .section-heading p {max-width: 100%;}
.ar-vr-metaverse .stats-block h2 span {font-size: 39px;}
/*responsiveness*/
@media(max-width:1699px){
    .ar-vr-metaverse .stats-block h2 span {font-size: 30px;}  
}
@media(max-width:1399px){
    .ar-vr-metaverse .stats-block h2 span {font-size: 26px;}
}
@media(max-width:1199px){
    .ar-vr-metaverse .services-you-get .lottie-holder{padding: 90px 30px;}
    .ar-vr-metaverse .stats-block h2 span {font-size: 30px;}
}
@media(max-width:991px){
    .ar-vr-metaverse .services-you-get .lottie-holder{padding: 60px 20px;}
}
@media(max-width:767px){
    .ar-vr-metaverse .stats-block h2 span {font-size: 24px;}
}
@media(max-width:479px){
    .ar-vr-metaverse .services-you-get .lottie-holder{padding: 10% 10px;}
    .ar-vr-metaverse .stats-block h2 span {font-size: 20px;}
}