.how-we-do-block{background:#FAFAFA;border-radius:16px;padding:40px 20px;font-size:20px;line-height:30px;font-weight:300;height: 100%;}
.how-we-do-block .icon-holder{width:89px;margin:0 0 25px;}
.how-we-do-block h3{font-size:31px;line-height:35px;margin:0 0 25px;font-weight: 500;}
.how-we-do-block .key-points{font-size:20px;line-height:24px;font-weight:300;}
.how-we-do-block .key-points li{margin:0 0 15px;padding:0 0 0 20px;}
.how-we-do-block .key-points li:before{content:"";width:8px;height:8px;border-radius:50%;position:absolute;left:0;top:8px;background:#F07700;}
@media(max-width:1699px){
    .how-we-do-block{font-size:18px;line-height:28px;}
    .how-we-do-block{padding:20px;}
    .how-we-do-block .icon-holder{width:60px}
    .how-we-do-block h3{font-size:28px;line-height:32px;}
}
@media(max-width:1399px){
    .how-we-do-block h3{font-size:26px;line-height:30px;}
    .how-we-do-block .key-points{font-size:18px;line-height:22px;}
}
@media(max-width:1199px){
    .how-we-do-block{padding:15px;font-size:16px;line-height:26px;}
    .how-we-do-block .icon-holder{width:50px;margin:0 0 15px;}
    .how-we-do-block h3{font-size:22px;line-height:26px;margin:0 0 15px;}
    .how-we-do-block .key-points{font-size:16px;line-height:20px;}
}
@media(max-width:767px){
    .how-we-do-block{min-height: auto;}
}
@media(max-width:575px){
    .how-we-do-block{font-size:14px;line-height:22px;}
}