.ml-ops-page .section-heading p {max-width: 1300px;margin-inline: auto;}
.ml-ops-page .what-we-do {padding-bottom: 0px;}
.ml-ops-page .case-studies {padding-top: 0px;}
.ml-ops-page .hire-faqs {padding-bottom: 98px;}
/*responsiveness*/

